html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


section, header, footer {
    width: 100%;
    float: left;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
}

.container:before,
.container:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.container:after {
    clear: both;
}

.container {
    zoom: 1;
}

/*####################################################################################################################*/
/*section Home*/

/*########        INÍCIO DO TOPO          ###########################################################################*/
#top {
    background-image: linear-gradient(#f8f8f8, #FFC4D2);
}

#top .container {
    /*background-color: aliceblue;*/
}

#logo-container {
    /*background-color: darkorange;*/
    width: 33.3%;
    float: left;
}

#logo-description {
    margin: 10% 0;
    /*background: aquamarine;*/
    float: left;
    width: 65%;
}

#logo-img {
    width: 35%;
    /*background: #99C8EF;*/
    float: left;
}

#logo-img img{
    width: 100%;
}

/*css da logo do menu*/
.padrao-h1-logo-menu {
    /*margin-top: 32px;*/
    font-size: 47px;
    font-family: 'Dancing Script', cursive;
    color: #e53977;
}

.padrao-p-logo-menu {
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(72, 70, 70)
}

/*css da logo do footer*/
.padrao-h1-logo-footer {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    color: #e53977;
}

.padrao-p-logo-footer {
    text-transform: uppercase;
    font-size: 8px;
    color: rgb(72, 70, 70);
}

#search-box { /*caixa de pesquisa*/
    width: 33.3%;
    float: left;
    margin-top: 38px;
    background: white;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
}

#search-btn i { /*icone lupa*/
    color: #e53977;
    background-color: #FFC4D2;
    padding: 10px;
    border-radius: 100%;
}

#search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #727070;
    font-size: 16px;
    line-height: 30px;
}

#contato-btn { /*botões links*/
    width: 33.3%;
    margin-top: 38px;
    float: left;
    justify-content: flex-end;
    /*background-color: aquamarine;*/
    height: 45px;
    border-radius: 40px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.btn-1, .btn-2 {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
}

.btn-1:hover, .btn-2:hover {
    background-image: linear-gradient(#e53977, #99C8EF);
}

#contato-btn span {
    margin: 10px;
}

#contato-btn i {
    background: #FFC4D2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e53977;
    font-weight: 600;
}

#login a { /*botão login*/
    background: white;
    color: #E53977;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
}

#login:hover a {
    color: white;
    background: #E53977;
    transition: 0.4s;
}

@media (max-width: 1200px) {
    #logo-container {
        width: 100%;
        padding-top: 20px;
    }

    #logo-img {
        width: 45%;
        float: left;
        text-align: right;
    }

    #logo-img img{
        width: 100px;
    }

    #logo-description {
        margin: 24px 0 0 0;
        float: left;
        width: 55%;
    }

    #search-box { /*caixa de pesquisa*/
        width: 50%;
        margin: 38px 25% 0 25%;
        background: white;
        height: 50px;
        padding: 10px;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        -webkit-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
        box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    }

    #contato-btn { /*botões links*/
        width: 100%;
        margin-top: 38px;
        float: left;
        justify-content: flex-end;
        /*background-color: aquamarine;*/
        height: 45px;
        border-radius: 40px;
        display: flex;
        /*justify-content: space-between;*/
        align-items: center;
    }

}


/*############################    FINAL DO TOP      ##################################################################*/


.fixed, li { /*menu listas*/
    float: left;
}

.fixed li a:hover { /*menu listas*/
    background: #E53977;
    color: white;
    transition: 0.4s;
}

#menu-item { /*borda em traços*/
    border-top: 2px dashed #ce698f;
    border-bottom: 2px dashed #ce698f;
    background: white;
    display: flex;
}

li a, .dropbtn {
    display: inline-block;
    color: #642b18;
    padding: 17px 42.2px;
    font-weight: bold;
}

.fixed, li {
    text-align: center;
}

#menu-item li a:hover, .dropdown:hover .dropbtn {
    background: #E53977;
    color: white;
    transition: 0.4s;
}

li .dropdown {
    display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;
    background: rgb(253, 252, 252);
    width: 15%;
}

.drop-content a {
    color: #642b18;
    display: block;
    text-align: left;
    border: 1px solid white;
    padding: 14px 8px;
}

.dropdown:hover .drop-content {
    display: block;
    z-index: 999;
}

#slides { /*banner cupcake*/
    height: 600px;
    overflow: hidden;
    position: relative;
}

#slides img {
    position: absolute;
    width: 100%;
    top: -31%;
}

#info-compra { /*informação de bônus*/
    margin-top: 10px;
}

#info-compra .container {
    background: #fabfcd;
}

.info-compra-box {
    display: inline-block;
    width: 364px;
    margin: 10px;
    padding: 10px;
}

.info-compra-box {
    display: inline-block;
}

.img-info img {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

/*imagens ilustrativas*/
.info-compra-box h3 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.info-compra-box p {
    text-transform: uppercase;
    font-size: 13px;
    color: #642b18;
}

#apresentation { /*mensagem de apresentacão*/
    padding-top: 10px;
}

.apresent {
    padding: 15px;
}

.apresent h2 {
    text-align: center;
    color: #e53977;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.apresent p {
    margin-top: 10px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    text-transform: inherit;
    color: #642b18;
    font-size: 16px;
}

.box {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    float: left;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    width: 100%;
    background: white;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h3 {
    margin-top: 4px;
    font-family: 'Dancing Script', cursive;
    color: #e53977;
    font-weight: bold;
    font-size: 25px;
}

.card p {
    text-transform: inherit;
    font-size: 16px;
    color: #642b18;
    margin: 10px 0;
}

.card a {
    border: none;
    background: white;
    padding: 8px 20px;
    color: #e53977;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.4s;
}

.card a:hover {
    background: #e53977;
    color: white;
    font-weight: bold;
}

.icon img {
    display: flex;
    width: 100%;
    height: 100%;
}

#email-box {
    padding: 50px 0;
    background: #FABFCD;
}

.info-email {
    text-align: center;
}

.info-email h1 {
    margin: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: bold;
    color: #e53977;
    text-align: center;

}

.info-email input {
    background: white;
    border: none;
    border-radius: 6px;
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    font-size: 20px;
}

.info-email input:focus {
    outline: none;
}

form button {
    padding: 7px;
    background: #e53977;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

form button:hover {
    background: white;
    color: #e53977;
    font-weight: bold;
}

/*##############    INÍCIO DO FOOTER      #######################################################################*/
#footer {
    margin-top: -4px;
}

.box-footer-content {
    width: 22%;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.box-footer-img, .box-footer-logo-title {
    float: left;
}

.box-footer-logo-title {
    margin-top: 10px;
}

.box-footer-img {
    margin: 2px;
}

.box-footer-img img {
    width: 90px;
    height: 90px;
}

.box-footer-logo-title h2 {
    font-size: 30px;
}

.box-suporte {
    margin-top: 30px;
    margin-right: 2%;
    float: left;
    width: 14%;
}

.box-suporte a {
    height: 7px;
}

.link-suporte {
    float: left;
    flex-direction: column;
}

.link-suporte a {
    color: #727070;
    font-size: 13px;
    float: left;
    font-family: Gill Sans, sans-serif;
}

.link-suporte a:hover {
    color: #e53977;
}

.box-card {
    margin-top: 30px;
    float: left;
    width: 28%;
    margin-right: 2%;
}

.box-card h3, .box-suporte h3 {
    color: #727070;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    font-family: Gill Sans, sans-serif;
}

.box-card img {
    width: 100%;
    margin-top: 15px;
}

.box-footer-icons {

    float: left;
    margin-top: 50px;
}

.box-footer-icons a {
    color: #777;
    margin-left: 30px;
}

.box-footer-icons span:hover {
    color: #e53977;
}

.box-footer-icons span {
    color: #727070;
    font-size: 30px;
}

/*###########      FINAL DO FOOTER      ############################################################################*/


.info-dev {
    float: left;
    width: 100%;
    background-color: #ce698f;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    -webkit-box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.55);
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.55);
}


/*#############     SECTION PÁGINA CONTATO    #######################################################################*/
#form-contato .container {
    width: 90%;
    height: 62vh;
    display: flex;
    margin-top: 45px;
}

#form-contato img {
    margin: 8px 25px 0 100px;
    height: 300px;
    display: flex;
}

.infor-contato {
    display: flex;
    flex-direction: column;
}

.titulo-contato {
    background: #FFC4D2;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.titulo-contato h2 {
    color: #e53977;
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    font-weight: bold;
}

.info-box-contato {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 40px;
}

.infor-contato h3 {
    margin-bottom: 10px;
    color: #642b18;
}

.infor-contato p {
    color: #727070;
}

.infor-contato a {
    text-decoration: none;
    color: #727070;
}

.infor-contato a {
    margin-right: 20px;
}

.infor-contato a:hover {
    color: #e53977;
}

#form-contato .infor-contato {
    display: flex;
}

#form-contato .form-contato {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
}

#form-contato form {
    display: flex;
    flex-direction: column;
}

#form-contato form label {
    margin-bottom: 5px;
    font-size: 18px;
    color: #642b18;
    font-weight: bold;
}

#form-contato form input {
    padding: 6px;
    outline: none;
    border: 0;
    margin-bottom: 12px;
    border-radius: 5px;
    font-size: 15px;
    background: #FFC4D2;
}

#form-contato form input:focus, #form-contato textarea:focus {
    background: rgba(153, 200, 239, 0.31);
    color: #642b18;
}

#form-contato textarea {
    border: none;
    padding: 5px;
    outline: none;
    background: #FFC4D2;
    font-size: 15px;
}

#form-contato button {
    margin-top: 10px;
    margin-bottom: 20px;
}

#form-contato button:hover {
    transition: 0.3s;
}

/*@media (max-width: 1175px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 500px;*/
/*    }*/
/*}*/
/*@media (max-width: 1076px) {*/
/*    .login a {*/
/*        left: 89%;*/
/*    }*/
/*    .contato-btn {*/
/*        left: 75%;*/
/*    }*/
/*    .search-box{*/
/*        left: 38%;*/
/*    }*/
/*}*/
/*@media (max-width: 1024px){*/
/*    .login a{*/
/*        left: 90%;*/
/*        top: 30px;*/
/*    }*/
/*    .contato-btn{*/
/*        left: 76%;*/
/*        top: 30px;*/
/*    }*/
/*    .search-box{*/
/*        left: 38%;*/
/*        top: 30px;*/
/*    }*/
/*}*/
/*@media (max-width: 912px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 450px;*/
/*    }*/
/*    .contato-btn{*/
/*        left: 74%;*/
/*    }*/
/*    .search-box{*/
/*        left: 40%;*/
/*    }*/
/*}*/
/*@media (max-width: 800px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 400px;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 45px;*/
/*    }*/
/*    .logo-container p{*/
/*        font-size: 10px;*/
/*    }*/
/*    .search-box{*/
/*        height: 47px;*/
/*        left: 39%;*/
/*        padding: 3px ;*/
/*    }*/
/*    .search-text{*/
/*        padding: 0 0 0 4px;*/
/*    }*/
/*    .btn-1, .btn-2{*/
/*        height: 45px;*/
/*        width: 45px;*/
/*    }*/
/*    .contato-btn i {*/
/*        background: white;*/
/*    }*/
/*    .contato-btn{*/
/*        left: 72%;*/
/*    }*/
/*    .login a{*/
/*        padding: 13px;*/
/*        top: 30px;*/
/*        left: 89%;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 112px;*/
/*        height: 112px;*/
/*    }*/
/*}*/
/*@media (max-width: 768px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 380px;*/
/*    }*/
/*    .login a{*/
/*        top: 33px;*/
/*        padding: 12px;*/
/*    }*/
/*    .btn-1, .btn-2{*/
/*        width: 24px;*/
/*        height: 0;*/
/*    }*/
/*    .contato-btn{*/
/*        left: 76%;*/
/*    }*/
/*    .search-box{*/
/*        padding: 3px;*/
/*        height: 43px;*/
/*        left: 41%;*/
/*    }*/
/*    .search-text{*/
/*        padding: 0 0 0 3px;*/
/*    }*/
/*}*/
/*@media (max-width: 750px) {*/
/*    #slides {*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 350px;*/
/*    }*/
/*    .btn-1, .btn-2{*/
/*        width: 25px;*/
/*        height: 0;*/
/*    }*/
/*    .contato-btn{*/
/*        left: 75%;*/
/*    }*/
/*    .contato-btn i {*/
/*        background: white;*/
/*    }*/
/*    .login a{*/
/*        font-size: 15px;*/
/*        padding: 12px;*/
/*        left: 89%;*/
/*    }*/
/*    .search-box{*/
/*        left: 39%;*/
/*        padding: 2px;*/
/*        height: 44px;*/
/*    }*/
/*    .search-text {*/
/*        padding: 0 0 0 5px;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 43px;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 112px;*/
/*        height: 112px;*/
/*    }*/
/*}*/
/*@media (max-width: 700px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 330px;*/
/*    }*/
/*    .btn-1{*/
/*        position: fixed;*/
/*        bottom: 20px;*/
/*        right: 3px;*/
/*        height: 50px;*/
/*        width: 50px;*/
/*    }*/
/*    .btn-2{*/
/*        display: none;*/
/*    }*/
/*    .login a{*/
/*        font-size: 15px;*/
/*        padding: 12px;*/
/*        left: 88%;*/
/*        top: 37px;*/
/*    }*/
/*    .search-box{*/
/*        left: 45%;*/
/*        padding: 3px;*/
/*        height: 40px;*/
/*        top: 6%;*/
/*    }*/
/*    .search-text {*/
/*        padding: 0 0 0 5px;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 40px;*/
/*    }*/
/*    #menu .container p{*/
/*        font-size: 10px;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 118px;*/
/*        height: 116px;*/
/*    }*/
/*}*/
/*@media (max-width: 640px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 300px;*/
/*    }*/
/*    .btn-1{*/
/*        position: fixed;*/
/*        bottom: 20px;*/
/*        right: 3px;*/
/*        height: 50px;*/
/*        width: 50px;*/
/*    }*/
/*    .btn-2{*/
/*        display: none;*/
/*    }*/
/*    .login a{*/
/*        font-size: 15px;*/
/*        padding: 12px;*/
/*        left: 88%;*/
/*        top: 9%;*/
/*    }*/
/*    .search-box{*/
/*        left: 45%;*/
/*        padding: 3px;*/
/*        height: 40px;*/
/*        top: 9%;*/
/*    }*/
/*    .search-text {*/
/*        padding: 0 0 0 5px;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 40px;*/
/*    }*/
/*    #menu .container p{*/
/*        font-size: 10px;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 112px;*/
/*        height: 112px;*/
/*    }*/
/*}*/
/*@media (max-width: 600px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 280px;*/
/*    }*/
/*    .btn-1{*/
/*        position: fixed;*/
/*        bottom: 20px;*/
/*        right: 3px;*/
/*        height: 50px;*/
/*        width: 50px;*/
/*    }*/
/*    .btn-2{*/
/*        display: none;*/
/*    }*/
/*    .contato-btn{*/
/*        left: 77%;*/
/*    }*/
/*    .contato-btn i {*/
/*        background: white;*/
/*        font-size: 20px;*/
/*    }*/
/*    .login a{*/
/*        font-size: 15px;*/
/*        padding: 12px;*/
/*        left: 87%;*/
/*        top: 4%;*/
/*    }*/
/*    .search-box{*/
/*        left: 44%;*/
/*        padding: 2px;*/
/*        height: 40px;*/
/*        top: 4%;*/
/*    }*/
/*    .search-btn{*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 40px;*/
/*    }*/
/*    #menu .container p{*/
/*        font-size: 9px;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 108px;*/
/*        height: 108px;*/
/*    }*/
/*    .box {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        width: 75%;*/
/*        align-items: center;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 541px) and (max-width: 1360px){*/
/*    .media{*/
/*        display: none;*/
/*    }*/
/*}*/
/*@media (max-width: 540px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 260px;*/
/*    }*/
/*    .login a{*/
/*        font-size: 16px;*/
/*        padding: 13px;*/
/*        left: 84%;*/
/*        top: 5%;*/
/*    }*/
/*    .media{*/
/*        margin-bottom: 8px;*/
/*    }*/
/*    .media .search-media{*/
/*        display: flex;*/
/*        margin-top: 10px;*/
/*    }*/
/*    .media .search-media i{*/
/*        background: #f8f8f8;*/
/*    }*/
/*    .search-box{*/
/*       display: none;*/
/*    }*/
/*    .search-media:hover > .search-text{*/
/*        width: 200px;*/
/*        background: white;*/
/*        border-radius: 15px;*/
/*        padding: 0 0 0 5px;*/
/*        transition: 0.4s;*/
/*    }*/
/*    .search-text {*/
/*        padding: 0;*/
/*        width: 0;*/
/*        transition: 0.4s;*/
/*    }*/
/*    .search-btn{*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 45px;*/
/*    }*/
/*    #menu .container p{*/
/*        font-size: 10px;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 112px;*/
/*        height: 110px;*/
/*    }*/
/*}*/
/*@media (max-width: 500px) {*/
/*    .box {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        width: 75%;*/
/*        align-items: center;*/
/*    }*/
/*}*/
/*@media (max-width: 480px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 233px;*/
/*    }*/
/*    .login a{*/
/*        font-size: 16px;*/
/*        padding: 13px;*/
/*        left: 80%;*/
/*        top: 4%;*/
/*    }*/
/*    .search-media:hover > .search-text{*/
/*        width: 210px;*/
/*        background: white;*/
/*        border-radius: 15px;*/
/*        padding: 0 0 0 5px;*/
/*        transition: 0.4s;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 45px;*/
/*    }*/
/*    #menu .container p{*/
/*        font-size: 10px;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 110px;*/
/*        height: 110px;*/
/*    }*/
/*}*/
/*@media (max-width: 414px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 200px;*/
/*    }*/
/*    .login a{*/
/*        font-size: 16px;*/
/*        padding: 13px;*/
/*        left: 80%;*/
/*        top: 4%;*/
/*    }*/
/*    .search-media:hover > .search-text{*/
/*        width: 210px;*/
/*        background: white;*/
/*        border-radius: 15px;*/
/*        padding: 0 0 0 5px;*/
/*        transition: 0.4s;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 42px;*/
/*    }*/
/*    #menu .container p{*/
/*        font-size: 10px;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 114px;*/
/*        height: 112px;*/
/*    }*/

/*}@media (max-width: 400px) {*/
/*    .box {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        width: 85%;*/
/*        align-items: center;*/
/*    }*/
/*}*/
/*@media (max-width: 393px) {*/
/*    .login a{*/
/*        font-size: 15px;*/
/*        padding: 13px;*/
/*        left: 79%;*/
/*        top: 3.5%;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 106px;*/
/*        height: 106px;*/
/*    }*/
/*}*/
/*@media (max-width: 384px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 187px;*/
/*    }*/
/*    .login a{*/
/*        font-size: 14px;*/
/*        padding: 13px;*/
/*        left: 80%;*/
/*        top: 4.5%;*/
/*    }*/
/*    .search-media:hover > .search-text{*/
/*        width: 210px;*/
/*        background: white;*/
/*        border-radius: 15px;*/
/*        padding: 0 0 0 5px;*/
/*        transition: 0.4s;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 40px;*/
/*    }*/
/*    #menu .container p{*/
/*        font-size: 10px;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 108px;*/
/*        height: 108px;*/
/*    }*/
/*}*/
/*@media (max-width: 375px) {*/
/*    #slides{*/
/*        width: 100%;*/
/*        position: relative;*/
/*        height: 180px;*/
/*    }*/
/*    .login a{*/
/*        font-size: 14px;*/
/*        padding: 10px;*/
/*        left: 80%;*/
/*        top: 4.5%;*/
/*    }*/
/*    .search-media:hover > .search-text{*/
/*        width: 210px;*/
/*        background: white;*/
/*        border-radius: 15px;*/
/*        padding: 0 0 0 5px;*/
/*        transition: 0.4s;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 40px;*/
/*    }*/
/*    #menu .container p{*/
/*        font-size: 10px;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 114px;*/
/*        height: 112px;*/
/*    }*/
/*}*/
/*@media (max-width: 360px) {*/
/*    .search-media:hover > .search-text{*/
/*        width: 170px;*/
/*        background: white;*/
/*        border-radius: 15px;*/
/*        padding: 0 0 0 5px;*/
/*        transition: 0.4s;*/
/*    }*/
/*    .btn-1{*/
/*        position: fixed;*/
/*        bottom: 20px;*/
/*        left: 75%;*/
/*        right: 3px;*/
/*        height: 50px;*/
/*        width: 50px;*/
/*    }*/
/*}*/
/*@media (max-width: 320px) {*/
/*    #slides{*/
/*       display: none;*/
/*    }*/
/*    .login a{*/
/*       display: none;*/
/*    }*/
/*    .search-media:hover > .search-text{*/
/*        width: 160px;*/
/*        background: white;*/
/*        border-radius: 15px;*/
/*        padding: 0 0 0 5px;*/
/*        transition: 0.4s;*/
/*    }*/
/*    .logo-container h1{*/
/*        font-size: 42px;*/
/*    }*/
/*    #menu .container p{*/
/*        font-size: 10px;*/
/*    }*/
/*    #menu .container img{*/
/*        width: 100px;*/
/*        height: 100px;*/
/*    }*/
/*    .btn-1{*/
/*        position: fixed;*/
/*        bottom: 20px;*/
/*        left: 65%;*/
/*        right: 3px;*/
/*        height: 50px;*/
/*        width: 50px;*/
/*    }*/
/*}*/
/*@media (max-width: 280px) {*/
/*    #slides {*/
/*        display: none;*/
/*    }*/
/*}*/













