.area-class {
    width: 500px;
}

#breadcrumb {
    background-color: rgba(93, 28, 13, 0.85);
    padding: 15px 0;
    text-align: center;
}

#breadcrumb li {
    display: inline-block;
}

#breadcrumb a {
    font-size: 13px;
    color: #FFFFFF;
}

#breadcrumb i {
    margin: 0 3px;
}

/*############################################################################################*/
/*###################################        HEADER        ###################################*/
/*############################################################################################*/
#top {
    background-image: var(--background-image);
}

.logo {
    width: 250px;
    height: auto;
    padding: 10px 0;
}

.logo img {
    width: 100%;
}

.search-box { /*caixa de pesquisa*/
    width: 50%;
    position: relative;
    padding: 10px ;
    border-radius: 30px;
    background: var(--cor-terciaria);
    box-shadow: var(--cor-webkit-box-shadow);
}

.search-text {
    width: 90%;
    margin-left: 10px;
    color: var(--cor-quinario);
    font-size: 16px;
}

.search-btn {
    position: absolute;
    right: 5px;
    top: 6px;
}

.search-btn i { /*icone lupa*/
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    padding: 8px;
    border-radius: 100%;
}

.contato-btn { /*botões links*/
    border-radius: 40px;
}

.contato-btn span {
    margin: 10px;
}

.btn-1, .btn-2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--cor-terciaria);
    box-shadow: var(--cor-webkit-box-shadow);
}

.btn-1:hover, .btn-2:hover {
    background-image: var(--background-btn);
}

.contato-btn i {
    background: var(--cor-primaria);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--cor-secundaria);
}

@media (max-width: 991px) {
    .search-box-mobile {
        width: 80%;
        position: relative;
        padding: 8px ;
        border-radius: 30px;
        background: var(--cor-terciaria);
        box-shadow: var(--cor-webkit-box-shadow);
    }

    .search-text {
        width: 90%;
        color: var(--cor-quinario);
    }

    .search-btn {
        right: 7px;
        top: 4px;
    }
}

@media (max-width: 768px) {
    #top {
        background: #f8d9df;
    }

    .header {
        padding: 10px 0;
    }

    .logo img {
        width: 230px;
    }

    .btn-1, .btn-2 {
        width: 40px;
        height: 40px;
    }

    .contato-btn i {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 640px) {
    .search-box-mobile {
        margin-top: 10px;
        width: auto;
    }

    .search-text {
        width: auto;
    }
}

@media (max-width: 575px) {
    .logo {
        width: 250px;
    }

    .logo img {
        width: 100%;
    }

    .search-box-mobile {
        padding: 9px ;
    }

    .search-text {
        width: 80%;
    }

    .search-btn {
        right: 7px;
        top: 5px;
    }
}

/*############################################################################################*/
/*################################      MENU LIST      #######################################*/
/*############################################################################################*/
.nav {
    border-top: 2px dashed #ce698f;
    border-bottom: 2px dashed #ce698f;
    background: white;
}

.navbar-nav li a {
    color: var(--cor-quaternaria);
    font-size: 18px;
}

.navbar-nav li a:hover {
    color: white;
    background-color: var(--cor-secundaria);
}

@media (max-width: 768px) {
    .navbar-nav a {
        padding: 6px;
    }
}

/*############################################################################################*/
/*###################################         BANNER          ################################*/
/*############################################################################################*/
.banner {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 53%, rgba(255,196,210,1) 53%, rgba(255,196,210,1) 100%);
    width: 100%;
    height: auto;
}

@media (max-width: 640px) {
    .banner .container {
        margin: 0;
        padding: 0;
    }
}

/*############################################################################################*/
/*###################################         INFO-COMPRA         ############################*/
/*############################################################################################*/
#info-compra {
    padding: 40px 0;
}

.img-info {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

.img-info img {
    width: 100%;
}

.text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-info h3 {
    color: var(--cor-secundaria);
    font-size: 22px;
    margin: 0;
}

.text-info p {
    color: var(--cor-quaternaria);
    font-size: 16px;
    margin: 0;
}

@media (max-width: 1199px ) {
    #info-compra {
        padding: 35px 0;
    }

    .img-info {
       margin: 0 auto;
    }

    .info-compra-box {
       text-align: center;
    }

    .text-info h3 {
        font-size: 20px;
    }

    .text-info p {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .img-info {
        height: 80px;
    }

    .text-info h3 {
        font-size: 19px;
    }
}

@media (max-width: 767px) {
    #info-compra {
        padding: 15px 0;
    }

    .img-info {
        margin: 0;
    }

    .info-compra-box {
        text-align: start;
    }
}

@media (max-width: 575px) {
    .info-compra-box {
        padding: 10px;
    }

    .img-info img {
        max-height: 70px;
        max-width: 70px;
    }
}

@media (max-width: 420px) {
    .img-info {
        width: 80px;
        height: 80px;
    }
}

/*############################################################################################*/
/*################################        CATEGORY    #######################################*/
/*############################################################################################*/
#category {
    background-color: #F8DDE3;
    border-top: 5px dashed #FFFFFF;
    border-bottom: 5px dashed #FFFFFF;
    padding: 70px 0;
}

.description-category {
    margin-top: 20px ;
}

.topic-service {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 40px 0 20px 0;
}

.tab-btn {
    display: block;
    margin: 0 10px;
    padding: 15px 20px;
    color: #642b18;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.51);
}

.tab-btn.active {
    color: #FFFFFF;
    background-color: #73543E;
}

.content-category-inactive {
    display: none;
}
.content-category-active {
    display: block;
}

.box-category:hover {
    transform: scale(1.1);
}

.box-category {
    padding: 15px;
    width: 23%;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: var(--cor-webkit-box-shadow);
    transition: 0.3s;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--cor-quaternaria);
}

.box-category:hover {
    color: var(--cor-secundaria);
}

.box-category img {
    width: 100%;
    height: 253px;
    object-fit: cover;
}

.box-category p {
    margin: 10px 0;
}

@media (max-width: 1399px) {
    .box-category img {
        height: 220px;
    }
}

@media (max-width: 768px) {
    .box-category p {
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .tab-btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .topic-service {
        display: block;
    }

    .tab-btn {
        margin: 10px auto;
        padding: 15px 20px;
        width: 90%;
    }
}

/*###################################################################################################################*/
/*################################          KIT-FESTA       ###########################################################*/
/*#####################################################################################################################*/
.topic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic h1 {
    font-size: 20px;
    font-weight: 300;
    color: #642b18;
    margin: 7px 0;
    text-transform: uppercase;
}

.border-before {
    border: 1px solid #642b18;
    width: 60px;
    margin-right: 10px;
}

.border-after {
    border: 1px solid #642b18;
    width: 60px;
    margin-left: 10px;
}
#kit-festa {
    padding: 30px 0 70px 0;
}

.apresent {
    padding: 20px;
}

.subtitle {
    color: var(--cor-font-titulo);
    font-family: var(--font-principal);
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.description {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: var(--cor-quaternaria);
    line-height: 1.3;
}

#kit-festa .card {
    width: 26%;
    border: solid 15px var(--cor-terciaria);
    text-align: center;
    transition: 0.3s;
    box-shadow: var(--cor-webkit-box-shadow);
}

#kit-festa .card:hover {
    transform: scale(1.1);
}

#kit-festa .card-img {
    overflow: hidden;
    width: 100%;
    height: auto;
}

#kit-festa .card img {
    width: 100%;
}

#kit-festa .card h3 {
    font-family: var(--font-principal);
    color: var(--cor-font-titulo);
    font-weight: bold;
    font-size: 25px;
    padding-top: 8px;
}

#kit-festa .card span {
    display: block;
    padding: 3px 0;
    color: var(--cor-quaternaria);
    text-transform: uppercase;
    font-size: 14px;
}

#kit-festa .card:hover span {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

@media (max-width: 992px) {
    #kit-festa .card {
        width: 31%;
        border: solid 10px var(--cor-terciaria);
    }
}

@media (max-width: 768px) {
    .apresent h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .apresent p {
        width: 100%;
        margin-top: 20px;
        text-align: justify;
    }
}
/*############################################################################################*/
/*################################       EMAIL BOX     #######################################*/
/*############################################################################################*/

.promotion-content {
    display: flex;
    padding: 70px 0;
    background-color: #73543E;
}

.promotion-card {
    margin: 0 15px;
    padding: 20px 10px;
    background-color: white;
    height: 192px;
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    display: flex;
    justify-content: space-between;

}

.promotion-text-section {
    text-align: center;
}

.promotion-text-section  span{
    text-transform: uppercase;
    font-weight: 600;
}

.promotion-text-section h3 {
    font-weight: 600;
    margin: 10px 0;
}

.promotion-text-section, .promotion-image-section {
    width: 100%; /* w-full para mobile */
    padding: 16px; /* p-4 */
}

.promotion-food-image {
    width: 16rem; /* w-64 */
    margin: 0 auto; /* mx-auto */
}


@media (max-width: 768px) {
    .promotion-card {
        display: block;

        /*flex-direction: column-reverse; !* flex-col-reverse para mobile *!*/

    }

    .promotion-text-section, .promotion-image-section {
        /*width: 50%;*/
        /*padding: 0;*/
    }
}







#email-box {
    padding: 50px 0;
    background: var(--cor-primaria);
}

.info-email {
    text-align: center;
}

.info-email h1 {
    margin: 10px;
    font-family: var(--font-principal);
    font-size: 45px;
    font-weight: bold;
    color: var(--cor-font-titulo);
    text-align: center;
}

.info-email input {
    background: var(--cor-terciaria);
    border: none;
    border-radius: 6px;
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    font-size: 20px;
}

.info-email input:focus {
    outline: none;
}

form button {
    padding: 7px;
    background: var(--cor-secundaria);
    border: none;
    border-radius: 4px;
    color: var(--cor-terciaria);
    cursor: pointer;
}

form button:hover {
    background: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-weight: bold;
}

/*############################################################################################*/
/*################################       OFERTA      #######################################*/
/*############################################################################################*/
/*.box-offer {*/
/*    background-color: #99C8EF;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.offer-content {*/
/*    background-color: antiquewhite;*/
/*    display: flex;*/
/*}*/

/*.offer-img {*/
/*    width: 450px;*/
/*    height: auto;*/
/*}*/

/*.offer-text {*/
/*    width: 320px;*/
/*}*/


/*!*############################################################################################*!*/
/*!*################################        CATEGORIA     #######################################*!*/
/*!*############################################################################################*!*/

/*.text-category {*/
/*    padding: 35px 0;*/
/*    text-align: center;*/
/*}*/

/*.text-category h1 {*/
/*    font-family: var(--font-principal);*/
/*    color: var(--cor-secundaria);*/
/*    font-size: 40px;*/
/*}*/

/*.text-category p {*/
/*    color: var(--cor-quaternaria);*/
/*}*/

/*.content-category {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-bottom: 30px;*/
/*}*/



/*@media (max-width: 792px) {*/
/*    #service .container {*/
/*        padding: 20px 0;*/
/*    }*/

/*    .box-category {*/
/*        width: 25%;*/
/*    }*/
/*}*/

/*@media (max-width: 610px) {*/
/*    .box-category {*/
/*        width: 33.3%;*/
/*    }*/
/*}*/

/*@media (max-width: 500px) {*/
/*    .box-category {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media (max-width: 412px) {*/
/*    .title-list-service h3 {*/
/*        font-size: 5vw;*/
/*    }*/
/*}*/


/*############################################################################################*/
/*################################       FOOTER      #######################################*/
/*############################################################################################*/

#footer {
    margin-top: -4px;
}

#footer h3 {
    margin-top: 40px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--cor-quaternaria);
    font-family: Gill Sans, sans-serif;
}

#box-footer-logo {
    width: 25%;
    float: left;
}

.box-footer-img {
    width: 35%;
    float: left;
}

.box-footer-img img {
    width: 100%;
    margin-top: 7px;
}

.box-footer-logo-title {
    width: 65%;
    float: left;
}

.box-footer-logo-title h1 {
    margin: 31px 0 1px 0;
    font-size: 45px;
}

.box-footer-logo-title p {
    font-size: 11px;
}

#box-suporte {
    width: 20%;
    float: left;
}

.link-suporte li {
    padding: 5px 15%;
}

.link-suporte a {
    color: var(--cor-quinario);
    font-size: 15px;
    font-family: Gill Sans, sans-serif;
}

.link-suporte a:hover, .box-footer-icons span:hover {
    color: var(--cor-secundaria);
    cursor: pointer;
}

#box-card {
    width: 30%;
    float: left;
}

#box-card img {
    margin-top: 15px;
    width: 100%;
}

#box-icons {
    width: 25%;
    float: left;
}

.box-footer-icons {
    padding: 20px 20%;
}

.box-footer-icons a {
    font-size: 20px;
    margin-left: 24px;
}

.box-footer-icons span {
    color: var(--cor-quinario);
}

@media (max-width: 1026px) {
    .box-footer-logo-title h1 {
        font-size: 40px;
    }

    .box-footer-logo-title p {
        font-size: 10px;
    }

    #footer h3 {
        margin-top: 39px;
        padding: 9px 0;
        font-size: 14px;
    }

    .link-suporte li {
        padding: 5px 22%;
    }

    .link-suporte a {
        font-size: 13px;
    }

    .box-footer-icons {
        font-size: 19px;
    }

    .box-footer-icons a {
        margin-left: 15px;
    }
}

@media (max-width: 877px) {
    .box-footer-logo-title h1 {
        font-size: 37px;
    }

    #footer h3 {
        margin-top: 37px;
        font-size: 13px;
    }

    .link-suporte li {
        padding: 5px 18%;
    }

    #box-card img {
        margin-top: 11px;
    }

    .box-footer-icons a {
        font-size: 16px;
        margin-left: 16px;
    }
}

@media (max-width: 811px) {
    #box-footer-logo {
        width: 100%;
    }

    .box-footer-img {
        width: 50%;
    }

    .box-footer-img img {
        float: right;
        height: 100px;
        width: 100px;
    }

    .box-footer-logo-title {
        width: 50%;
    }

    #footer h3 {
        margin-top: 0;
        padding: 8px 0;
    }

    #box-suporte {
        width: 30%;
    }

    .link-suporte li {
        padding: 5px 28%;
    }

    #box-suporte a {
        font-size: 14px;
    }

    #box-card {
        width: 45%;
    }

    #box-card img {
        margin-top: 15px;
    }
}

@media (max-width: 777px) {
    #box-suporte {
        width: 100%;
    }

    #footer h3 {
        font-size: 16px;
        padding: 15px 0 3px 25px;
        text-align: left;
    }

    .link-suporte li {
        padding: 5px 23px;
    }

    #box-suporte a {
        text-align: left;
        margin: 0;
        padding: 5px 0;
        font-size: 16px;
    }

    #box-card {
        width: 70%;
    }

    #box-card img {
        padding: 15px 0 0 20px;
        margin: 0;
    }

    #box-icons {
        width: 100%;
    }

    .box-footer-icons {
        margin: 0;
        padding: 15px 13px;
    }

    .box-footer-icons span {
        text-align: left;
        font-size: 25px;
    }
}
/*  FINAL DO FOOTER  */

.info-dev {
    float: left;
    width: 100%;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    box-shadow: var(--cor-webkit-box-shadow);
}

.titulo-contato { /*#### PÁGINA CONTATO #####*/
    background: var(--cor-primaria);
    display: flex;
    justify-content: center;
    padding: 60px;
}

.titulo-contato h2 {
    color: var(--cor-font-titulo);
    font-family: var(--font-principal);
    font-size: 55px;
    font-weight: bold;
}

#contato .container {
    display: flex;
    position: relative;
}

#info-img {
    width: 33.3%;
}

#info-img img {
    width: 100%;
    padding: 0 20px;
}

#info-contato {
    width: 33.3%;
    margin-top: 19px;
}

.info-box-contato {
    margin: 25px 0 0 20px;
}

.info-box-contato i {
    margin-right: 5px;
    color: var(--cor-quinario);
}

.info-box-contato span {
    font-size: 18px;
    color: #333232;
}

.info-box-contato p, .info-box-contato a {
    display: block;
    margin: 5px 0;
    color: var(--cor-quinario);
}

.info-box-contato a:hover {
    color: var(--cor-secundaria);
}

#form-contato {
    width: 33.4%;
    margin: 43px 0;
}

#form-contato form {
    display: flex;
    flex-direction: column;
}

#form-contato form label {
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--cor-quinario);
}

#form-contato form input {
    padding: 6px;
    outline: none;
    border: 0;
    margin-bottom: 12px;
    border-radius: 5px;
    font-size: 15px;
    background: var(--breadcrumb);
}

#form-contato form input:focus, #form-contato textarea:focus {
    background: rgba(153, 200, 239, 0.31);
    color: #642b18;
}

#form-contato textarea {
    border: none;
    padding: 5px;
    outline: none;
    background: var(--breadcrumb);
    font-size: 15px;
}

#form-contato button {
    margin-top: 10px;
    margin-bottom: 20px;
}

#form-contato button:hover {
    transition: 0.3s;
}

@media (max-width: 900px) {
    #contato .container {
        display: block;
    }

    #info-img {
        width: 100%;
    }

    #info-img img {
        width: 30%;
        margin: 0 35%;
        padding: 0;
    }

    #info-contato {
        width: 50%;
        float: left;
        margin-top: 0;
    }

    .info-box-contato {
        padding: 10px;
        margin: 0;
    }

    #form-contato {
        float: left;
        width: 50%;
        margin: 23px 0;
    }
}

@media (max-width: 600px) {
    #info-img {
        display: none;
    }

    #info-contato {
        width: 100%;
        float: none;
    }

    #form-contato {
        width: 100%;
        margin: 0;
        float: none;
        padding: 10px;
    }
}

@media (max-width: 463px) {
    .titulo-contato h2 {
        font-size: 45px;
    }
}

@media (max-width: 400px ) {
    .titulo-contato h2 {
        font-size: 38px;
    }
}

/*  FIM DA PÁGINA CONTATO  */

/* PÁGINA DE SERVIÇOS  */
#title-service {
    background: var(--cor-primaria);
    display: flex;
    justify-content: center;
    padding: 55px;
}

#title-service h2 {
    color: var(--cor-font-titulo);
    font-family: var(--font-principal);
    font-size: 60px;
    font-weight: bold;
}

#service .container {
    padding: 60px 0;
}

.list-box-service {
    float: left;
    text-align: center;
    width: 20%;
}

.list-box-service:hover {
    box-shadow: var(--cor-webkit-box-shadow);
}

.list-box-service a {
    padding: 15px;
    width: 100%;
    margin-bottom: 25px;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--cor-quaternaria);
}

.list-box-service a:hover {
    color: var(--cor-secundaria);
}

.list-box-service img {
    width: 100%;
}

.list-box-service p {
    margin: 10px 0;
}

@media (max-width: 792px) {
    #service .container {
        padding: 20px 0;
    }

    .list-box-service {
        width: 25%;
    }
}

@media (max-width: 610px) {
    .list-box-service {
        width: 33.3%;
    }
}

@media (max-width: 500px) {
    .list-box-service {
        width: 50%;
    }
}

@media (max-width: 412px) {
    .title-list-service h3 {
        font-size: 5vw;
    }
}

/*  PÁGINA CONTEUDO-SERVIÇO  */
#serv-content {
    padding: 40px 0;
}

#serv-content .container {
    background-color: #F6EAED;
    border: 1px solid #333232;
    padding: 20px;
}

.content-title h3 {
    width: 25%;
    float: left;
    color: var(--cor-font-titulo);
    text-transform: uppercase;
    padding: 0 15px 0 0;
    text-align: center;
}

.content-title p {
    width: 75%;
    float: left;
    color: var(--cor-quaternaria);
    line-height: 1.5;
}

.columns-serv {
    width: 25%;
    float: left;
    padding: 20px;
}

.columns-serv img {
    width: 100%;
}

.columns-serv img:hover {
    box-shadow: var(--cor-webkit-box-shadow);
}

.columns-serv h3 {
    padding: 10px 0 0 0;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--cor-font-titulo);
}

.columns-serv p {
    padding: 10px 0;
    color: var(--cor-quaternaria);
}

@media (max-width: 900px) {
    .columns-serv {
        width: 33.3%;
    }
}

@media (max-width: 702px) {
    .content-title h3 {
        width: 100%;
        padding: 0;
    }

    .content-title p {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 620px) {

    .columns-serv {
        width: 50%;
    }
}

@media (max-width: 420px) {
    .columns-serv {
        padding: 10px;
    }
}

#conteudo-serviço h2 {
    text-align: center;
    padding: 15px;
    color: var(--cor-font-titulo);
}

#conteudo-serviço p {
    padding: 0 25px;
    text-align: center;
    color: var(--cor-quaternaria);
    line-height: 1.4;
}

#img-items {
    display: flex;
    gap: 2vw;
    padding: 3vw 2vw;
}

.gallery-items {
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
}

.gallery-items:hover {
    transform: scale(1.1);
}

.gallery-items img {
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    #img-items {
        display: inline-block;
        padding: 20px 7vw;
    }

    .gallery-items {
        box-shadow: none;
    }
}