html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


section, header, footer {
    width: 100%;
    float: left;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
}

.container:before,
.container:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.container:after {
    clear: both;
}

.container {
    zoom: 1;
}

/*  INÍCIO DO TOPO  */
:root {
    --cor-primaria: #FFC4D2;
    --cor-secundaria: #e53977;
    --cor-terciaria: #FFFFFF;
    --cor-quaternaria: #642b18;
    --cor-quinario: #727070;
    --background-image: linear-gradient(#f8f8f8, #FFC4D2);
    --background-btn: linear-gradient(#e53977, #99C8EF);
    --shadow: box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --breadcrumb: #F6EAED;
}

#top {
    background-image: linear-gradient(#f8f8f8, #FFC4D2);
}

#logo-container {
    width: 33.3%;
    float: left;
}

#logo-description {
    margin: 10% 0;
    float: left;
    width: 65%;
}

#logo-img {
    width: 35%;
    float: left;
}

#logo-img img {
    width: 100%;
}

/*  CSS LOGO MENU  */
.padrao-h1-logo-menu {
    font-size: 47px;
    font-family: 'Dancing Script', cursive;
    color: #e53977;
}

.padrao-p-logo-menu {
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(72, 70, 70)
}

/* FINAL DO CSS LOGO MENU */

/* CSS LOGO FOOTER  */
.padrao-h1-logo-footer {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    color: #e53977;
}

.padrao-p-logo-footer {
    text-transform: uppercase;
    font-size: 8px;
    color: rgb(72, 70, 70);
}

/*  FINAL DO CSS LOGO FOOTER  */

#search-box { /*caixa de pesquisa*/
    width: 33.3%;
    position: relative;
    float: left;
    margin-top: 41px;
}

#search-box #search-text {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    background: white;
    border-radius: 30px;
    align-items: center;
    -webkit-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
}

#search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #727070;
    font-size: 16px;
    line-height: 30px;
}

#search-box a {
    position: absolute;
    right: 5px;
    top: 4px;
}

#search-btn i { /*icone lupa*/
    color: #e53977;
    background-color: #FFC4D2;
    padding: 8px;
    border-radius: 100%;
}

#contato-btn { /*botões links*/
    width: 33.3%;
    margin-top: 38px;
    float: left;
    justify-content: flex-end;
    height: 45px;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.btn-1, .btn-2 {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
}

.btn-1:hover, .btn-2:hover {
    background-image: linear-gradient(#e53977, #99C8EF);
}

#contato-btn span {
    margin: 10px;
}

#contato-btn i {
    background: #FFC4D2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e53977;
    font-weight: 600;
}

#login a { /*botão login*/
    background: white;
    color: #E53977;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
    box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.39);
}

#login:hover a {
    color: white;
    background: #E53977;
    transition: 0.4s;
}

@media (max-width: 1200px) {
    #top .container {
        position: relative;
    }

    #logo-container {
        width: 100%;
        padding-top: 20px;
    }

    #logo-description {
        margin: 24px 0 0 0;
        width: 55%;
    }

    #logo-img {
        width: 45%;
        text-align: right;
    }

    #logo-img img {
        width: 100px;
    }

    #login {
        position: absolute;
        right: 5%;
        top: 23%;
    }

    #contato-btn { /*botões links*/
        width: 100%;
        float: inherit;
        justify-content: center;
        height: 90px;
    }

    #search-box { /*caixa de pesquisa*/
        width: 50%;
        margin: 30px 25% 0 25%;
    }

    #search-text {
        font-size: 15px;
        line-height: 25px;
    }
}

@media (max-width: 486px) {
    #logo-img img {
        width: 80px;
    }

    .padrao-h1-logo-menu {
        font-size: 38px;
    }

    #login {
        position: absolute;
        right: 3%;
    }

    #login a {
        font-weight: 200;
        padding: 8px;
        border-radius: 7px;
    }

    #search-box { /*caixa de pesquisa*/
        height: 43px;
        padding: 5px;
    }

    #search-text {
        font-size: 15px;
        line-height: 25px;
    }

    #search-box a {
        right: 10px;
        top: 9px;
    }
}

@media (max-width: 414px) {
    #logo-img img {
        width: 72px;
    }

    .padrao-h1-logo-menu {
        font-size: 33px;
    }
}

/*  FINAL DO TOP  */

/*  MENU LISTA  */

#menu-item { /*borda em traços*/
    border-top: 2px dashed #ce698f;
    border-bottom: 2px dashed #ce698f;
    background: white;
}

#fixed {
    display: flex;
}

#fixed li {
    width: 14.5%;
    text-align: center;
}

#fixed li:hover {
    background: #E53977;
    transition: 0.4s;
}

#fixed a {
    width: 100%;
    display: block;
    padding: 20px 0;
    font-size: 14px;
    font-weight: bold;
    color: #595858;
}

#fixed a:hover {
    color: #ffffff;
}

@media (max-width: 700px) {
    #fixed {
        display: block;
    }

    #fixed li {
        width: 100%;
        padding: 0 0 0 3%;
        text-align: left;
    }
}

/*  FINAL MENU LISTA  */

/*  BANNER  */
#slides img {
    width: 100%;
}

/*  FINAL BANNER  */

#info-compra {
    background: #fabfcd;
}

.info-compra-box1, .info-compra-box {
    width: 33.3%;
    float: left;
    padding: 10px;
}

.img-info img {
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 70px;
}

.info-compra-box1 h3, .info-compra-box h3 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.info-compra-box1 p, .info-compra-box p {
    text-transform: uppercase;
    font-size: 13px;
    color: #642b18;
}

@media (max-width: 901px ) {
    .img-info img {
        width: 60px;
        height: 60px;
    }

    .info-compra-box1 h3, .info-compra-box h3 {
        margin-top: 15px;
        font-size: 13px;
    }

    .info-compra-box1 h3, .info-compra-box p {
        font-size: 12px;
    }
}

@media (max-width: 830px) {
    .info-compra-box1 {
        width: 30%;
    }

    .info-compra-box {
        width: 35%;
        padding: 10px 0 10px 5px;
    }

    .img-info img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }

    .info-compra-box h3 {
        margin-top: 12px;
    }
}

@media (max-width: 700px) {
    .info-compra-box1 {
        width: 100%;
    }

    .info-compra-box {
        width: 100%;
    }

    .img-info img {
        margin-right: 10px;
        width: 70px;
        height: 70px;
    }

    .info-compra-box1 h3, .info-compra-box h3 {
        margin-top: 22px;
    }
}

#kit-festa .apresent {
    padding: 20px;
}

#kit-festa .apresent h2 {
    text-align: center;
    color: #e53977;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

#kit-festa .apresent p {
    margin: 10px 20%;
    text-align: center;
    color: #642b18;
    line-height: 1.3;
}

#kit-festa .card {
    width: 31.3%;
    border: solid 20px white;
    margin: 0 3% 30px 0;
    float: left;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#kit-festa .card:last-child {
    margin-right: 0;
}

#kit-festa .card:hover {
    transform: scale(1.1);
}

#kit-festa .card img {
    width: 100%;
}

#kit-festa .card-img {
    overflow: hidden;
    width: 100%;
    height: 364px;
}

#kit-festa .card h3 {
    margin-top: 4px;
    font-family: 'Dancing Script', cursive;
    color: #e53977;
    font-weight: bold;
    font-size: 25px;
}

#kit-festa .card p {
    color: #642b18;
    margin: 10px 0;
}

#kit-festa .card span {
    display: block;
    padding: 6px 0;
    color: #642b18;
    text-transform: uppercase;
}

#kit-festa .card:hover span {
    background-color: #E53977;
    color: white;
}

@media (max-width: 1158px) {
    #kit-festa .card-img {
        overflow: inherit;
        height: inherit;
    }
}

@media (max-width: 835px) {
    #kit-festa .card {
        border: solid 12px white;
    }
}

@media (max-width: 700px) {
    #kit-festa .card {
        width: 50%;
        margin: 0 25% 30px 25%;
    }
}

@media (max-width: 500px) {
    #kit-festa .apresent p {
        margin: 15px 0;
    }

    #kit-festa .card {
        width: 70%;
        margin: 0 15% 30px 15%;
    }
}

#email-box {
    padding: 50px 0;
    background: #FABFCD;
}

.info-email {
    text-align: center;
}

.info-email h1 {
    margin: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: bold;
    color: #e53977;
    text-align: center;
}

.info-email input {
    background: white;
    border: none;
    border-radius: 6px;
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    font-size: 20px;
}

.info-email input:focus {
    outline: none;
}

form button {
    padding: 7px;
    background: #e53977;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

form button:hover {
    background: white;
    color: #e53977;
    font-weight: bold;
}

/*  INÍCIO DO FOOTER   */
#footer {
    margin-top: -4px;
}

#footer h3 {
    margin-top: 40px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #642b18;
    font-family: Gill Sans, sans-serif;
}

#box-footer-logo {
    width: 25%;
    float: left;
}

.box-footer-img {
    width: 35%;
    float: left;
}

.box-footer-img img {
    width: 100%;
    margin-top: 7px;
}

.box-footer-logo-title {
    width: 65%;
    float: left;
}

.box-footer-logo-title h1 {
    margin: 31px 0 1px 0;
    font-size: 45px;
}

.box-footer-logo-title p {
    font-size: 11px;
}

#box-suporte {
    width: 20%;
    float: left;
}

.link-suporte li {
    padding: 5px 15%;
}

.link-suporte a {
    color: #727070;
    font-size: 15px;
    font-family: Gill Sans, sans-serif;
}

.link-suporte a:hover, .box-footer-icons span:hover {
    color: #e53977;
    cursor: pointer;
}

#box-card {
    width: 30%;
    float: left;
}

#box-card img {
    margin-top: 15px;
    width: 100%;
}

#box-icons {
    width: 25%;
    float: left;
}

.box-footer-icons {
    padding: 20px 20%;
}

.box-footer-icons a {
    font-size: 20px;
    margin-left: 24px;
}

.box-footer-icons span {
    color: #727070;
}

@media (max-width: 1026px) {
    .box-footer-logo-title h1 {
        font-size: 40px;
    }

    .box-footer-logo-title p {
        font-size: 10px;
    }

    #footer h3 {
        margin-top: 39px;
        padding: 9px 0;
        font-size: 14px;
    }

    .link-suporte li {
        padding: 5px 22%;
    }

    .link-suporte a {
        font-size: 13px;
    }

    .box-footer-icons {
        font-size: 19px;
    }

    .box-footer-icons a {
        margin-left: 15px;
    }
}

@media (max-width: 877px) {
    .box-footer-logo-title h1 {
        font-size: 37px;
    }

    #footer h3 {
        margin-top: 37px;
        font-size: 13px;
    }

    .link-suporte li {
        padding: 5px 18%;
    }

    #box-card img {
        margin-top: 11px;
    }

    .box-footer-icons a {
        font-size: 16px;
        margin-left: 16px;
    }
}

@media (max-width: 811px) {
    #box-footer-logo {
        width: 100%;
    }

    .box-footer-img {
        width: 50%;
    }

    .box-footer-img img {
        float: right;
        height: 100px;
        width: 100px;
    }

    .box-footer-logo-title {
        width: 50%;
    }

    #footer h3 {
        margin-top: 0;
        padding: 8px 0;
    }

    #box-suporte {
        width: 30%;
    }

    .link-suporte li {
        padding: 5px 28%;
    }

    #box-suporte a {
        font-size: 14px;
    }

    #box-card {
        width: 45%;
    }

    #box-card img {
        margin-top: 15px;
    }
}

@media (max-width: 777px) {
    #box-suporte {
        width: 100%;
    }

    #footer h3 {
        font-size: 16px;
        padding: 15px 0 3px 25px;
        text-align: left;
    }

    .link-suporte li {
        padding: 5px 23px;
    }

    #box-suporte a {
        text-align: left;
        margin: 0;
        padding: 5px 0;
        font-size: 16px;
    }

    #box-card {
        width: 70%;
    }

    #box-card img {
        padding: 15px 0 0 20px;
        margin: 0;
    }

    #box-icons {
        width: 100%;
    }

    .box-footer-icons {
        margin: 0;
        padding: 15px 13px;
    }

    .box-footer-icons span {
        text-align: left;
        font-size: 25px;
    }
}

/*  FINAL DO FOOTER  */

.info-dev {
    float: left;
    width: 100%;
    background-color: #ce698f;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    -webkit-box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.55);
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.55);
}

.titulo-contato { /*#### PÁGINA CONTATO #####*/
    background: #FFC4D2;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.titulo-contato h2 {
    color: #e53977;
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    font-weight: bold;
}

#contato .container {
    display: flex;
    position: relative;
}

#info-img {
    width: 33.3%;
}

#info-img img {
    width: 100%;
    padding: 0 20px;
}

#info-contato {
    width: 33.3%;
    margin-top: 19px;
}

.info-box-contato {
    margin: 25px 0 0 20px;
}

.info-box-contato i {
    margin-right: 5px;
    color: #595858;
}

.info-box-contato span {
    font-size: 18px;
    color: #333232;
}

.info-box-contato p, .info-box-contato a {
    display: block;
    margin: 5px 0;
    color: #727070;
}

.info-box-contato a:hover {
    color: #e53977;
}

#form-contato {
    width: 33.4%;
    margin: 43px 0;
}

#form-contato form {
    display: flex;
    flex-direction: column;
}

#form-contato form label {
    margin-bottom: 5px;
    font-size: 18px;
    color: #333232;
}

#form-contato form input {
    padding: 6px;
    outline: none;
    border: 0;
    margin-bottom: 12px;
    border-radius: 5px;
    font-size: 15px;
    background: rgba(255, 196, 210, 0.16);
}

#form-contato form input:focus, #form-contato textarea:focus {
    background: rgba(153, 200, 239, 0.31);
    color: #642b18;
}

#form-contato textarea {
    border: none;
    padding: 5px;
    outline: none;
    background: rgba(255, 196, 210, 0.16);
    font-size: 15px;
}

#form-contato button {
    margin-top: 10px;
    margin-bottom: 20px;
}

#form-contato button:hover {
    transition: 0.3s;
}

@media (max-width: 900px) {
    #contato .container {
        display: block;
    }

    #info-img {
        width: 100%;
    }

    #info-img img {
        width: 30%;
        margin: 0 35%;
        padding: 0;
    }

    #info-contato {
        width: 50%;
        float: left;
        margin-top: 0;
    }

    .info-box-contato {
        padding: 10px;
        margin: 0;
    }

    #form-contato {
        float: left;
        width: 50%;
        margin: 23px 0;
    }
}

@media (max-width: 600px) {
    #info-img {
        display: none;
    }

    #info-contato {
        width: 100%;
        float: none;
    }

    #form-contato {
        width: 100%;
        margin: 0;
        float: none;
        padding: 10px;
    }
}

@media (max-width: 463px) {
    .titulo-contato h2 {
        font-size: 45px;
    }
}

@media (max-width: 400px ) {
    .titulo-contato h2 {
        font-size: 38px;
    }
}

/*  FIM DA PÁGINA CONTATO  */

/* PÁGINA DE SERVIÇOS  */
#title-service {
    background: #FFC4D2;
    display: flex;
    justify-content: center;
    padding: 55px;
}

#title-service h2 {
    color: #e53977;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: bold;
}

#service .container {
    padding: 60px 0;
}

.list-box-service {
    float: left;
    text-align: center;
    width: 20%;
}

.list-box-service:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-box-service a {
    padding: 15px;
    width: 100%;
    margin-bottom: 25px;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: #642b18;
}

.list-box-service a:hover {
    color: #E53977;
}

.list-box-service img {
    width: 100%;
}

.list-box-service p {
    margin: 10px 0;
}

@media (max-width: 792px) {
    #service .container {
        padding: 20px 0;
    }

    .list-box-service {
        width: 25%;
    }
}

@media (max-width: 610px) {
    .list-box-service {
        width: 33.3%;
    }
}

@media (max-width: 500px) {
    .list-box-service {
        width: 50%;
    }
}

@media (max-width: 412px) {
    .title-list-service h3 {
        font-size: 5vw;
    }
}

/*  PÁGINA CONTEUDO-SERVIÇO  */
#serv-content {
    padding: 40px 0;
}

#serv-content .container {
    background-color: #F6EAED;
    border: 1px solid #333232;
    padding: 20px;
}

.content-title h3 {
    width: 25%;
    float: left;
    color: #E53977;
    text-transform: uppercase;
    padding: 0 15px 0 0;
    text-align: center;
}

.content-title p {
    width: 75%;
    float: left;
    color: #642b18;
    line-height: 1.5;
}

.columns-serv {
    width: 25%;
    float: left;
    padding: 20px;
}

.columns-serv img {
    width: 100%;
}

.columns-serv img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.columns-serv h3 {
    padding: 10px 0 0 0;
    text-transform: uppercase;
    font-size: 15px;
    color: #E53977;
}

.columns-serv p {
    padding: 10px 0;
    color: #642b18;
}

@media (max-width: 900px) {
    .columns-serv {
        width: 33.3%;
    }
}

@media (max-width: 702px) {
    .content-title h3 {
        width: 100%;
        padding: 0;
    }

    .content-title p {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 620px) {

    .columns-serv {
        width: 50%;
    }
}

@media (max-width: 420px) {
    .columns-serv {
        padding: 10px;
    }
}

#breadcrumb {
    background-color: #F6EAED;
    padding: 20px 0;
    text-align: center;
    color: #E53977;
    text-transform: uppercase;
}

#breadcrumb ul {
    display: inline;
}

#breadcrumb li {
    display: inline;
}

#breadcrumb a {
    display: inline-block;
    color: #642b18;
    font-size: 14px;
}

#conteudo-serviço h2 {
    text-align: center;
    padding: 15px;
    color: #E53977;
}

#conteudo-serviço p {
    padding: 0 25px;
    text-align: center;
    color: #642b18;
    line-height: 1.4;
}

#img-items {
    display: flex;
    gap: 2vw;
    padding: 3vw 2vw;
}

.gallery-items {
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
}

.gallery-items:hover {
    transform: scale(1.1);
}

.gallery-items img {
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    #img-items {
        display: inline-block;
        padding: 20px 7vw;
    }

    .gallery-items {
        box-shadow: none;
    }
}